.page-wrap {
  overflow-x: hidden;
  width: 100%;
  height: 100dvh;
}

.chat-wrap {
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-out;
  width: 100%;
  height: 100%;
}

.chat-wrap.shifted {
  margin-left: 224px;
  width: calc(100% - 224px);
}